
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins';
  line-height: 1.6;
  padding: 40px;
    background: linear-gradient(155deg,#c7b5b5 40%,#d4fffb 50%);
    background-size: 100% 200%;
    background-repeat: no-repeat;
  }



header {
  margin-bottom: 20px;
  display: block;
  text-align: center;
  justify-content: center;
  font-weight: 800;
  font-size: 24px;
  text-shadow: 6px 0px 12px #646264;
}

.mainpart {
background-color: rgba(189, 129, 176, 1.0);
background-image: conic-gradient(from 225deg, rgba(189, 129, 176, 1.0), rgb(3, 66, 150));
background-image: linear-gradient(from 225deg, rgba(189, 129, 176, 1.0), rgb(3, 66, 150)); 
justify-content: center;
align-items: center;
text-align: center;
margin-left: 150px;
width: 1000px;
height: 380px;
}

button {
  padding: 15px 10px;
  background: salmon;
  background-image: linear-gradient(135deg, #00fddb 0%, #f15a94 100%);
  color: rgb(255, 255, 255);
  font-weight: 700;
  border-radius: 4px;
  width: 100px;
  border: 1px solid transparent;
  position: relative;
  margin-top: 30px;
  transition: all 1s ease;
}

button:hover {
  background-image: linear-gradient(135deg, #00fddb 0%, #f15a94 100%);
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: all 1s ease;
}

input[type='text'] {
    text-align: start;
  padding: 5px;
  border-radius: 3px;
  width: 300px;
  height: 35px;
  border: 1px solid transparent;
  margin-right: 5px;
  background-color: #ffffff;
  margin-top: 30px;
  margin-right: 15px;
}

::placeholder {
    color: rgb(0, 0, 0);
    opacity: 1;
    font-weight: 600;
  }

#todo-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
#todo-list {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  text-align: center;
  justify-items:baseline;
  text-decoration: underline;
  font-weight: 500;
  font-size: 17px;
  margin-top: 40px;
}

#todo-list > div {
  border: 1px #666 transparent;
  border-radius: 3px;
  padding: 10px;
  margin-top: 30px;
  margin: 5px;
  cursor: pointer;
  background-color: white;
  transition: all 1s ease;
}

#todo-list .done{
    background-color: #000000;
    color: white;
    text-decoration-thickness: 2px;
}
